<div id="bg-content">
            <div id="table">
                <table class="table table-sm table-hover table-striped" width="100%">
                    <thead>
                        <tr class="row">
                            <th class="col-md-4"><a>商品名</a></th>
                            <th class="col-md-2"><a>種類</a></th>
                            <th class="col-md-6"><a>有効成分</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @chemicals.each do |chemical| %>
                            <tr class="row">
                                <td class="col-md-4">
                                    <div><a href="/chemicals/<%= chemical.chemical_id %>"><%= chemical.chemical_name %></a></div>
                                </td>
                                <td class="col-md-2">
                                    <div><%= chemical.how_to_use %></div>
                                </td>
                                <td class="col-md-5">
                                    <div><%= chemical.chemical_type %></div>
                                </td>
                                <td class="col-md-1 text-center">
                                    <div><a href='/chemicals/<%= chemical.chemical_id %>'><span>商品詳細</span></a></div>
                                </td>
                            </tr>
                            <% end %>
                    </tbody>
                </table>
            </div>
        </div>